.header-bg {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 1.2em;
  z-index: 1;  
  font-weight: 500;
}

// quando o header for fixado com scroll
.header-bg--fixed {
  background-color: #222;
  position: fixed;
  top: 0;
  border-bottom: 2px solid $detail_color;
  transition: .2s;
  padding: 0 10px;
  
  & i {
    color: #fff; 
  }

  & a {
    color: #fff;
    font-weight: 500;
  }
  
  & .header-container {
    justify-content: space-between;
    align-items: center;
  }
  
  & .logo-header {
    display: block;
    visibility: visible;
  }
}

.header-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;   
}

.logo-header {
  width: 45px;
  height: 50px;
  display: none;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;

  &__link {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;

    &:hover {
      color: $detail_color;      
      transition: .2s;      
    }
  }

  &__toggle {
    display: none;
  }
}

// BANNER
.banner {
  position: relative;
  height: 650px;
  background-color: #222;
  background-image: url('../img/banner.jpeg');
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

.banner-content {
  text-align: center;
  color: #fff;
  position: relative;
  top: 150px;
  padding: 20px;

  &__logo{
    margin: 0 auto;
    @include separator;    
  } 

  &__logo-img {
    width: 100px;    
    margin-bottom: 20px;
    animation: fadeInRotate 2s;
  }

  &__title {
    font-size: 4em;    
    animation: fadeInUp 1s;
  }

  &__subtitle {
    font-size: 1.8em;
    animation: fadeInUp 1s;
  }
}

// SOBRE
.about-container {   
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 180px 0px;  
}

.brief {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;

  &__title {
    @include separator;
    color: #333;
  }

  &__text {
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 0 10px;
  }
}

.info {
  max-width: 400px;
  min-width: 300px; 
  margin-top: 35px;

  &__photo {    
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('../img/photo.jpg');
    background-size: cover;   
    background-position: left top;
  }

  &__contact {
    padding: 10px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

// LINKS
.links-bg {  
  padding: 30px;
  background-color: #222;
}

.links-title {
  color: #fff;
  text-align: center;
  @include separator;
  padding: 5px 0;
}

.links-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  width: 100%;
  
  
  &__item{
    display: block;
    text-align: center;
    color: #fff;
    margin: 15px;
    text-decoration: none;
    max-width: 70px;    


    & i {
      font-size: 1.8em;
      margin: 5px 0;
    }
    &:hover{
      color: $detail_color;
    }
  }
}

// SKILLS
.skills-bg{
  background-color: #fff;  
  background-size: cover;
  background-attachment: fixed;  
  position: relative;  
  padding: 70px 10px; 
  color: #fff;
}

.skills-bg h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;  
  @include separator;  
}

.skills-container {
  padding: 20px 0;
}

.skill-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.skill-item {
  flex: 1 450px;
  min-width: 250px;
  margin: 25px 0;
  text-align: center;  
  padding: 0 10px;
  padding: 50px; 
  color: #222;

  &__icon {
    color: $detail-color;    
    font-size: 2.1rem;
  }

   &__title {        
    font-size: 1.2rem; 
    margin: 10px 0;
    color: $detail-color;
    @include separator;
  }

  &__text {
    font-weight: 300;
   font-size: 1.2rem;
   padding: 15px 0;
  }
}

.tech-icons i {
  font-size: 1.6rem;
  margin: 10px 3px;
  

  &:hover {    
    color: $detail-color;
    margin: 10px 5px;
    transition: .2s;
  }
}

footer{
  padding: 50px 0;  
  background-color: #111;
  color: #fff;
  text-align: center;
    
  h3{
    text-align: center;
    @include separator;
  }  
}
