*, *::after, *::before { box-sizing: border-box; }
*{margin: 0; padding: 0}
ul{ margin: 0; padding: 0; list-style: none;}

body{
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  color: #222;
}

h1,h2, h3{  
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 2rem;
}

// vars
$detail_color: rgb(36, 162, 168);

@import 'mixins';
@import 'assets';
@import 'animations';
@import 'layout';
@import 'responsive';
