// BANNER
.banner {
  position: relative;
  height: 650px;
  background-color: #222;
  background-image: url('../img/banner.jpeg');
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

.banner-content {
  text-align: center;
  color: #fff;
  position: relative;
  top: 150px;
  padding: 20px;  
  margin: 0 auto; 

  &__logo{
    margin: 0 auto;
    @include separator;    
  } 

  &__logo-img {        
    width: 80px;
    height: 88px;
    margin-bottom: 20px;
    animation: fadeInRotate 2s;
  }

  &__title {
    font-size: 3.2rem;    
    animation: fadeInUp 1s;
    font-weight: normal;
  }

  &__subtitle {
    font-size: 1.4rem;
    font-weight: normal;
    animation: fadeInUp 1s;
  }
}

.arrow {
  position: relative;
  top: 80px;
  font-size: 2em;
  animation: bounceArrow .8s infinite;
  color: #fff;
}

//RESPONSIVO
@include responsive('mobile') {
  .banner-content {
    top: 120px;

    &__title {
      font-size: 2.6em;
    }
  }
}