.header-bg {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 1.2em;
  z-index: 1;  
  font-weight: 500;
}

// quando o header for fixado com scroll
.header-bg--fixed {
  background-color: #111;
  position: fixed;
  top: 0;
  border-bottom: 2px solid $detail_color;
  transition: .2s;
  padding: 0 10px;
  
  & i {
    color: #fff; 
  }

  & a {
    color: #fff;
    font-weight: 500;
  }
  
  & .header-container {
    justify-content: space-between;
    align-items: center;
  }
  
  & .logo-header {
    display: block;
    visibility: visible;
  }
}

.header-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;   
}

.logo-header {
  width: 45px;
  height: 50px;
  display: none;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;

  &__link {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;

    &:hover {
      color: $detail_color;      
      transition: .2s;      
    }
  }

  &__toggle {
    display: none;
  }
}

// RESPONSIVO
@include responsive('tablet'){  
  .header-container {
    justify-content: space-between;   
    
    & * {
      color: #fff;
    }      
  } 
  
  .logo-header {
    display: block;
    visibility: hidden;
  }
  
  .menu {      
    display: none;
    position: absolute;
    flex-direction: column;    
    background-color: #111;
    width: 100%;
    top: 84px;
    left: 0px;
    border-bottom: 3px solid $detail-color;     

    & li {
      margin: 15px;
   
      & a {
        color: #fff;
        font-weight: 500;
      }
    }
  }
    
  .menu__toggle { 
    display: block;
    position: relative;      
    right: 20px;
    
    & a {
      color: #fff;
      font-size: 1.2em;
    }
  }

  .menu--active {
    display: block;      
  }
}