/* initial positions */
.intro {  
  opacity: 0;  
  animation: fadeInRotate 1.5s, 2s afterRotate 2.5s forwards;
}


.photo-container {
  opacity: 0;
  transform: translateX(-30px);
  animation-name: fadeIn;
  animation-delay: 1.6s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.about-resume {
  opacity: 0;
  transform: translateX(30px);
  animation-name: fadeIn;
  animation-delay: 1.6s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* animations */
@keyframes fadeInRotate {
  0% {       
    opacity: 0;
    transform: rotateY(180deg);
  }
  
  98% {
    opacity: 1;
    transform: rotateY(0deg);    
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes afterRotate {
  to {
    width: 0;
    height: 0;
  }
}